ul, li, body, div, span {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    font-size: 12px;
}

a, a:hover, a:visited, a:link {
    text-decoration: none;
}

h2 {
    font-weight: bold;
    font-size: 12px;
}

#tooltip {
	position: absolute;
	z-index: 3000;
	border: 1px solid #222;
	background-color: #33a;
	padding: 5px;
	opacity: 0.95;
    font-family: arial;
    font-size: 12px;
	border-radius:8px;
	-webkit-border-radius:8px;
	-moz-border-radius:7px;
	-khtml-border-radius:16px;
}
#tooltip h3, #tooltip div { margin: 0; }

.tooltip {
    display: none;
}


body, .main_container {
    font-family: Arial;
    color: #fdd;
}

a {
    outline: none;
}

#cover {
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0 ;
    z-index: 5000;
    width: 807px;
    height: 730px;
    background: url( ../images/coverdot.png ) 0 0 repeat;
    display: none;
}

.main_container {
    width: 807px;
    height: 730px;
    background: url( ../images/background.jpg ) 0 0 no-repeat;
}


.main_menu {
    width: 102px;
    float: left;
    margin-left: 10px;
    /*border: 1px solid red;*/
    overflow: hidden;
}

.main_menu_button {
    width: 102px;
    height: 102px;
    margin-top: 10px;
    background: url( ../images/main_menu_button.png ) 0 0 no-repeat;
}

.main_menu_button_hover {
    background: url( ../images/main_menu_button_hover.png ) 0 0 no-repeat;
}

.main_menu_button_span {
    width: 102px;
    height: 102px;
    cursor: pointer;
}

.main_menu_button_span img {
    margin-left: 11px;
    /*margin-top: 19px;*/
}

.main_menu_button .dm_current .main_menu_button_span {
    margin-top: -15px;
    background: url( ../images/main_menu_button_active.png ) 0 0 no-repeat;
    cursor: default;
}

.main_menu_button .dm_current .main_menu_button_span img {
    margin-top: 15px;
}


.main_header {
    width: 807px;
    height: 68px;
    background: url( ../images/top_panel.png ) 0 0 no-repeat;
}

#player_image {
    position: absolute;
    left: 651px;
    top: 6px;
}

#player_level {
    position: absolute;
    left: 741px;
    top: 6px;
    width: 25px;
    height: 25px;
    background: url( ../images/level.png ) 0 0 no-repeat;
    z-index: 6000;
}

.level_text {
    margin-left: 8px;
    margin-top: 4px;
    /*text-align: center;*/
    font-weight: bold;
    color: #000;
    font-size: 14px;
}

.status_bar {
    width: 161px;
    height: 19px;
    float: left;
    margin-top: 47px;
    text-align: center;
    padding-top: 2px;
    font-weight: bold;
    font-size: 12px;
}

.status_bar  .bar_text {
    margin-right: 5px;
    font-weight: bold;
    color: #000;
    font-size: 11px;
    margin-top: 3px;
}

#attack_bar {
    margin-left: 9px;
    background: url( ../images/indicator_attack.png ) 0 0 no-repeat;
}

#defense_bar {
    margin-left: 9px;
    background: url( ../images/indicator_defence.png ) 0 0 no-repeat;
}

#health_bar {
    margin-left: 120px;
    background: url( ../images/indicator_health.png ) 0 0 no-repeat;
}

.header_bar {
    width: 100px;
    height: 19px;
    position: absolute;
    text-align: right;
    top: 10px;
}
#energy_bar {
    left: 500px;
    background: url( ../images/energy.png ) 0 0 no-repeat;
}
#exp_bar {
    left: 380px;
    background: url( ../images/exp.png ) 0 0 no-repeat;
}
#money_bar {
    left: 260px;
    background: url( ../images/money.png ) 0 0 no-repeat;
}
#super_money_bar {
    left: 140px;
    background: url( ../images/super_money.png ) 0 0 no-repeat;
}
.header_bar .bar_text {
    margin-right: 7px;
    font-weight: bold;
    color: #000;
    font-size: 11px;
    margin-top: 4px;
}

#hangar {
    margin-left: 108px;
    width: 689px;
    height: 643px;
}

#ship_select {
    width: 519px;
    height: 516px;
    background: url( ../images/hangar_robot_select.png ) 0 0 no-repeat;
    float: left;
}

.ship_rotate_left {
    width: 50px;
    height: 50px;
    background: url( ../images/rotate.png ) 0 0 no-repeat;
    margin-top: 230px;
    margin-left: 5px;
    float: left;
    opacity: 0.3;
    cursor: pointer;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.ship_rotate_right {
    width: 50px;
    height: 50px;
    background: url( ../images/rotate.png ) 0 0 no-repeat;
    margin-top: 230px;
    margin-right: 5px;
    float: right;
    opacity: 0.3;
    cursor: pointer;
}



.ship_rotate_left_active {
    background: url( ../images/rotate_active.png ) 0 0 no-repeat;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.ship_rotate_right_active {
    background: url( ../images/rotate_active.png ) 0 0 no-repeat;
}

#ship_image {
    width: 400px;
    height: 460px;
    margin-left: 60px;
    margin-top: 30px;
    cursor: pointer;
    overflow: hidden;
}

.ship_big_image {
    width: 400px;
    height: 460px;
    overflow: hidden;
}

.ship_is_on {
    position: relative;
    margin-top: -100px;
}

.ship_is_on .hide {
    display: none;
}

.buy_ship {
    width: 50px;
    height: 40px;
    float: left;
    background: url( ../images/ship_buy.png ) 0 0 no-repeat;
}
.equip_ship {
    width: 50px;
    height: 40px;
    float: left;
    background: url( ../images/ship_set_on.png ) 0 0 no-repeat;
}
.unequip_ship {
    width: 50px;
    height: 40px;
    float: left;
    background: url( ../images/ship_is_on.png ) 0 0 no-repeat;
}

#hangar_items_select {
    width: 104px;
    height: 513px;
    float: left;
    margin-top: 9px;
}

.hangar_item_select {
    width: 174px;
    height: 135px;
    float: left;
    cursor: pointer;
    background: url( ../images/hangar_item_select.png ) 0 0 no-repeat;
}

.hangar_item_select_active {
    background: url( ../images/hangar_item_select_active.png ) 0 0 no-repeat;
}

.hangar_item {
    width: 100px;
    height: 110px;
    margin-top: 20px;
    margin-left: 40px;
    overflow: hidden;
}

.hangar_item li {
    width: 100px;
    height: 110px;
}

.item_rotate_left {
    width: 25px;
    height: 29px;
    background: url( ../images/rotate_mini.png ) 0 0 no-repeat;
    margin-top: 53px;
    margin-left: 5px;
    float: left;
    /*opacity: 0.3;*/
    cursor: pointer;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.item_rotate_right {
    width: 25px;
    height: 29px;
    background: url( ../images/rotate_mini.png ) 0 0 no-repeat;
    margin-top: 53px;
    margin-right: 5px;
    float: right;
    /*opacity: 0.3;*/
    cursor: pointer;
}

.item_rotate_left_active {
    background: url( ../images/rotate_mini_active.png ) 0 0 no-repeat;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.item_rotate_right_active {
    background: url( ../images/rotate_mini_active.png ) 0 0 no-repeat;
}

.item_image {
    width: 100px;
    height: 80px;
}

.equip_item {
    width: 50px;
    height: 40px;
    float: right;
    margin-top: 45px;
    cursor:pointer;
}

.is_on_weapon {
    background: url( ../images/weapon_is_on.png ) 0 0 no-repeat;
}
.is_on_health {
    background: url( ../images/health_is_on.png ) 0 0 no-repeat;
}
.is_on_defense {
    background: url( ../images/defense_is_on.png ) 0 0 no-repeat;
}
.set_on_weapon {
    background: url( ../images/weapon_set_on.png ) 0 0 no-repeat;
}
.set_on_health {
    background: url( ../images/health_set_on.png ) 0 0 no-repeat;
}
.set_on_defense {
    background: url( ../images/defense_set_on.png ) 0 0 no-repeat;
}
.buy_weapon {
    background: url( ../images/weapon_buy.png ) 0 0 no-repeat;
}
.buy_health {
    background: url( ../images/health_buy.png ) 0 0 no-repeat;
}
.buy_defense {
    background: url( ../images/defense_buy.png ) 0 0 no-repeat;
}


#hangar_info_text .bar {
    width: 100px;
    height: 19px;
    text-align: right;
    float: left;
    overflow: hidden;
    color: #000;
    font-weight: bold;
    font-size: 12px;
    padding-right: 5px;
    margin-top: 2px;
}

#hangar_info_text .bar .text {
    margin-right: 5px;
    margin-top: 3px;
}

.defense_bar {
    background: url( ../images/defense_bar.png ) 0 0 no-repeat;
}
.weapon_bar {
    background: url( ../images/attack_bar.png ) 0 0 no-repeat;
}
.health_bar {
    background: url( ../images/health_bar.png ) 0 0 no-repeat;
}
.price_money_bar {
    background: url( ../images/money.png ) 0 0 no-repeat;
}
.price_super_money_bar {
    background: url( ../images/super_money.png ) 0 0 no-repeat;
}

.hide_none {
    display: none;
    /*visibility: hidden;*/
}

.hide {
    /*display: none;*/
    visibility: hidden;
}

#hangar_info {
    width: 515px;
    height: 121px;
    margin-left: 15px;
    background: url( ../images/inform_window.png ) 0 0 no-repeat;
    float: left;
}

#hangar_info_image {
    width: 122px;
    height: 105px;
    margin-left: 10px;
    margin-top: 6px;
    float: left;
}
#hangar_info_text {
    width: 345px;
    height: 105px;
    margin-left: 12px;
    margin-top: 10px;
    float: left;
}

#hangar_info_state {
    border: 1px solid red;
    width: 345px;
    height: 50px;
    float: left;
}

#preload {
    width: 0px;
    height: 0px;
    overflow: hidden;
    visibility: hidden;
}

#loading {
    margin-top: 220px;
    margin-left: 140px;
}

#preload_indicator {
    width: 400px;
    height: 30px;
    margin-top: 550px;
    margin-left: 203px;
    overflow: hidden;
    border: 1px solid #00f;
    padding: 1px 1px 1px 1px;
}

#preload_marker {
    width: 0px;
    height: 30px;
    background: url( ../images/loading_big.jpg ) 0 0 repeat-x;
}

#space_select {
    margin-left: 110px;
    width: 695px;
    height: 660px;
}

#space_level_menu {
    width: 202px;
    height: 400px;
    margin-top: 100px;
    margin-left: 250px;
}

.space_level_menu_item {
    width: 202px;
    height: 58px;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.space_level_menu_item_active {
    width: 202px;
    height: 58px;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    background: url( ../images/space_menu_highlight.png ) 0 0 no-repeat;
}

.space_level_menu_item img {
    margin: 4px 4px 4px 4px;
}

.space_menu_item_name {
    position: relative;
    margin-top: -55px;
    text-align: right;
    font-size: 16px;
    color: #ccc;
    width: 194px;
    height: 50px;
}

.space_level_menu_item a, .space_level_menu_item a:link, .space_level_menu_item a:hover, .space_level_menu_item a:visited {
    text-decoration: none;
    font-size: 16px;
    color: #ccc;
}


#space {
    margin-left: 110px;
    width: 695px;
    height: 660px;
}

.space_button {
    width: 100px;
    height: 30px;
    cursor: pointer;
    background: url( ../images/space_button.png );
    text-align: center;
    overflow: hidden;
}

.space_button .text {
    color: #fff;
    font-size: 12px;
    margin-top: 10px;
    width: 100px;
    height: 30px;
}

.space_button a, .space_button a:hover, .space_button a:visited, .space_button a:link {
    text-decoration: none;
}

#space_event {
    float: right;
    width: 400px;
    mergin-top: 30px;
    text-align: right;
}

#info_window {
    position: absolute;
    margin-top: 250px;
    margin-left: 150px;
    width: 512px;
    height: 257px;
    background: url( ../images/popup.png ) no-repeat center center ;
    z-index: 10000;
    display: none;
    text-align: center;
}

.info_window_text {
    /*position: relative;*/
    margin-top: 100px;
    text-align: center;
    z-index: 4000;
    color: #000;
}

#info_window_hide {
    /*position: relative;*/
    width: 100px;
    height: 30px;
    cursor: pointer;
    background: url( ../images/space_button.png ) 0 0 no-repeat;
    text-align: center;
    overflow: hidden;
    margin-top: 50px;
    /*margin-top: -50px;*/
    margin-left: 206px;
    padding-top: 5px;
}


/********************************************* /
.popupWindow {
	top:50%;
	left:50%;
	position: fixed;
	z-index: 1000;
	display: none;
}
.popupOverlay {
	height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
	z-index:200;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
	background: white;
}
.popupWindow .g-tl, .popupWindow .g-tr, .popupWindow .g-bl, .popupWindow .g-br {
	background:url( ../images/popup.png ) no-repeat scroll left top transparent;
}
.popupClose_btn {
	display:block;
    width: 11px;
    height:10px;
    background:url( ../images/close_ico.gif ) no-repeat top left;
    position: absolute;
    right: 23px;
    top: 20px;
	text-decoration: none;
}
.popupBorder_r {
	background:url( ../images/popup_right_b.png ) repeat-y top right;
}

.popupBorder_l{
	background:url( ../images/popup_left_b.png ) repeat-y top left;
}
.popupContent {
	background:none;
	padding: 0 30px 5px 20px;
	margin:0 6px;
	background:#e7ecf0;
	width: 360px;
}
.popupWindow h2 {
    border-bottom: 1px solid #C6D5DE;
    color: #007EAD;
    font-size: 16px;
    margin: 0 -30px 10px -20px;
    padding-bottom: 7px;
    padding-left: 20px;
	font-family:DinPro;
}
.popupContent_in, .popupWindow .b-f-btn_set {
	text-align: center;
}
.popupWindow .b-f-btn_set {
	margin-top: 25px;
	position: relative;
}
.popupWindow .b-popup_strong-text {
    color: #007EAD;
    font-weight: bold;
}
.popupWindow .b_square_blue_btn {
    margin-left: 5px;
}
.popupWindow .b-f-btn_set_right {
	text-align:right;
	display: block;
}
.popupWindow .b_square_blue_btn span, .popupWindow .b_square_blue_btn input {
    width: auto;
	min-width: 43px;
}
.popupContent_form {
	width: 460px;
}
.popupContent_form .b-popup_form {
	margin-bottom: 0;
	padding-top: 15px;
}
.popupContent_form .b-popup_form ul li {
	clear: none;
	position: relative;
	z-index: 1;
}
.popupContent_form .b-popup_form ul li dt {
	float: left;
    margin: 0 -95px 18px 0;
    position: relative;
    text-align: right;
    width: 85px;
    z-index: 20;
}
.popupContent_form .b-popup_form .b-f-field-wrap {
	  margin: 0 0 0 95px;
}
.popupContent_form .b-popup_form .b-f-field_text,
.popupContent_form .b-popup_form .b-f-field_textarea {
	border:1px solid #B6CCDA;
	padding:2px;
	position:relative;
	text-align:left;
	vertical-align:middle;
	width:360px;
	max-width:360px;
	z-index:10;
	background: white;
	font-family: 'Arial';
	font-size: 12px;
}
.popupContent_form .b-popup_form .b-f-field_textarea  {
	max-width: 360px;
}
.popupContent_in .b-popup_form_errors {
	margin: 0 -42px 0 -28px;
	text-align: left;
}

.money {
	background:url( ../images/money_001.png ) no-repeat 0 0;
}
.energy {
	background:url( ../images/energy_001.png ) no-repeat 0 0;
}
.cristal {
	background:url( ../images/cristal_001.png ) no-repeat 0 0;
}

.money_big {
	background:url( ../images/money_002.png ) no-repeat 0 0;
}
.energy_big {
	background:url( ../images/energy_002.png ) no-repeat 0 0;
}
.cristal_big {
	background:url( ../images/cristal_002.png ) no-repeat 0 0;
}
.bottom {
	position: relative;
	margin-top: -50px;
}
.roulet {
	width: 50px;
	height: 50px;
	overflow: hidden;
}
/*******************************************************/

#new_player {
    margin: 3px 3px 3px 3px;
    width: 800px;
    height: 400px;
    text-align: center;
    font-size: 16px;
}